In [2]:
data = [[1,"data1_01_JAN_2021;data2_01_JAN_2020"],
         [2,"data1_01_FEB_2020;data2_01_MAR_2021"],
 [3,"data3_01_MAY_2020;data1_01_JAN_2021;data2_01_JAN_2020"]
]

In [3]:
data

[[1, 'data1_01_JAN_2021;data2_01_JAN_2020'],
 [2, 'data1_01_FEB_2020;data2_01_MAR_2021'],
 [3, 'data3_01_MAY_2020;data1_01_JAN_2021;data2_01_JAN_2020']]

In [18]:
import pandas as pd

df = pd.DataFrame(data)

In [22]:
df[1]

0                  data1_01_JAN_2021;data2_01_JAN_2020
1                  data1_01_FEB_2020;data2_01_MAR_2021
2    data3_01_MAY_2020;data1_01_JAN_2021;data2_01_J...
Name: 1, dtype: object

In [25]:
df['ex1'] = df[1].apply(lambda x:x.split(';'))

In [30]:
df['ex1']

0               [data1_01_JAN_2021, data2_01_JAN_2020]
1               [data1_01_FEB_2020, data2_01_MAR_2021]
2    [data3_01_MAY_2020, data1_01_JAN_2021, data2_0...
Name: ex1, dtype: object

In [35]:
df = pd.DataFrame(df[1].str.split(';', expand=True).values)

In [36]:
df

                   0                  1                  2
0  data1_01_JAN_2021  data2_01_JAN_2020               None
1  data1_01_FEB_2020  data2_01_MAR_2021               None
2  data3_01_MAY_2020  data1_01_JAN_2021  data2_01_JAN_2020